.organization {
  margin-top: 1.6em;

  >.name {
    font-size: 1.4rem;
    padding-bottom: 0.2em;
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: center;
    page-break-inside: avoid;

  }

  &.first {
    page-break-before: avoid;
  }

  
}
