<div class="content-header">
    <div class="name">
        Matthew Evans
    </div>
    <span class="contact">
        <span class="contact-entry">(214) 674 - 0842</span>
        <span class="contact-entry"><a href="mailto:matthewevans87@gmail.com">matthewevans87@gmail.com</a></span></span>
</div>
<div class="content-body">
    <div class="objective">
        <div class="title">
            Objective
        </div>
        <div class="statement">
            I am seeking admission to the University of Texas at Dallas Master of Computer Science degree program with a concentration in Intelligent Systems.
        </div>
    </div>

    <div class="personal-profile">
        <div class="title">
            Personal Profile
        </div>
        <div class="personal-statement statement">
            "A talented, self-motivated software engineer with 10 years of industry experience crafting elegant and performant solutions to complex, real world problems."
        </div>
        <div class="statement">
            <p>Utilizing my in-depth knowledge of algorithms and database systems, I have designed and implemented complex data-driven applications relied on by thousands of users to govern hundreds of branches in a multi-billion dollar company. My intelligence, self-discipline and calculating focus allows me to efficiently research new topics and quickly digest abstract technical material. </p>
            <p>As a passionate life-long learner, I am a voracious reader and frequently take college and professional courses for continued intellectual enrichment. In pursuance of my long term career goal of transitioning from industry to academia, I am seeking to extend my credentials with a master’s degree in Computer Science.</p>
        </div>
    </div>

    <div class="credentials">

        <div class="credential education">
            <div class="title">
                Education
            </div>
            <div class="organization first">
                <div class="name">
                    <span><a href="https://www.utdallas.edu/" target="_blank">University of Texas at Dallas</a>, Richardson, Texas</span>
                </div>
                <div class="certificates">
                    <div class="title">
                        Degrees
                    </div>
                    <div class="certificate">
                        <div class="details">
                            <span class="title"><a href="https://cs.utdallas.edu/education/undergraduate/" target="_blank">Bachelor of Science in Computer Science</a></span>, <span class="institution"><a href="https://engineering.utdallas.edu/"
                            target="_blank">The Erik Johnson School of Engineering and Computer Science</a></span>, <span class="timeframe">May 2012</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="organization">
                <div class="name">
                    <span><a href="https://www.coursera.org/" target="_blank">Coursera</a></span>
                </div>
                <div class="certificates">
                    <div class="title">
                        Certificates
                    </div>
                    <div class="certificate">
                        <div class="details">
                            <span class="title"><a href="https://www.coursera.org/account/accomplishments/certificate/PEPQTSHX8UYP" target="_blank">Machine Learning</a></span>, <span class="institution"><a href="https://online.stanford.edu/" target=
                            "_blank">Stanford University Online</a></span>, <span class="timeframe">February 2018</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="organization">
                <div class="name">
                    <span><a href="http://www.collin.edu/" target="_blank">Collin College</a></span>
                </div>
                <div class="certificates">
                    <div class="title">
                        Additional Coursework for Personal Enrichment
                    </div>
                    <div class="certificate">
                        <div class="details">
                            <span class="title"><a href="https://en.wikipedia.org/wiki/Differential_equation" target="_blank">Differential Equations</a></span>, <span class="timeframe">Spring 2015</span>
                        </div>
                    </div>
                    <div class="certificate">
                        <div class="details">
                            <span class="title">General Chemistry 1</span>, <span class="timeframe">Spring 2013</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="credential">
            <div class="title">
                Professional Experience
            </div>
            <div class="organization first">
                <div class="name">
                    <span><a href="https://www.cleanharbors.com/" target="_blank">Clean Harbors, Inc.</a>, Richardson, Texas</span>
                </div>
                <div class="position">
                    <div class="details">
                        <span class="title">Sr. Software Engineer | Business Analytics and Insights</span> <span class="timeframe">2013 - 2018</span>
                    </div>
                    <div class="projects position-section">
                        <span class="title">Projects</span>
                        <div class="project">
                            <div class="overview">
                                <span class="title"><a id="epicenter-rewrite"></a>Epicenter</span><span class="description">Data Aggregation Process with Web Dashboard Application</span> 
                                <span class="project-position">Lead Developer</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/aspnet/Mvc" target="_blank">ASP.NET Core Web API</a>
                                        </li>
                                        <li>
                                            <a href="https://d3js.org/" target="_blank">D3JS</a>
                                        </li>
                                        <li>
                                            <a href="https://www.chartjs.org/" target="_blank">ChartJS</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Designed and implemented primary sales performance reporting tool for company with $50M+ in monthly revenue</li>
                                        <li>Made heavy use of SQL Server table indexes, indexed views and other strategies to maximize query read performance</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="project">
                            <div class="overview">
                                <span class="title">Margin Reporting Tool</span> <span class="description">Profitability Analysis Data Process with Web Dashboard Application</span> <span class="project-position">Lead Developer</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/aspnet/Mvc" target="_blank">ASP.NET Core Web API</a>
                                        </li>
                                        <li>
                                            <a href="https://www.chartjs.org/" target="_blank">ChartJS</a>
                                        </li>
                                        <li>
                                            <a href="https://gulpjs.com/" target="_blank">Gulp</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Optimized data processing procedure; acheived 5x reduction in size of codebase with 60x improvement in processing time</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="project">
                            <div class="overview">
                                <span class="title">Exploratory Market Segment Research</span> <span class="description">Analysis and Presentation of Geospatial Market Data</span> <span class="project-position">Lead Developer</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                        <li>
                                            <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>
                                        </li>
                                        <li>
                                            <a href="https://qgis.org/en/site/" target="_blank">qGIS</a>
                                        </li>
                                        <li>
                                            <a href="https://postgis.net/" target="_blank">PostGIS</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Performed research and analysis of market data using <a href="https://docs.microsoft.com/en-us/sql/relational-databases/spatial/spatial-indexes-overview?view=sql-server-2017" target="_blank">geospatial databases</a> to determine feasibility of using existing branch network to support new medical waste market segment</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="project">
                            <div class="overview">
                                <span class="title">Sales Forecasting Tool</span> <span class="description">Model Calculation Data Process with Web Dashboard Application</span> <span class="project-position">Lead Developer</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://www.r-project.org/" target="_blank">R</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                        <li>
                                            <a href="https://www.asp.net/downloads/vs2008" target="_blank">ASP.NET</a>
                                        </li>
                                        <li>
                                            <a href="https://www.virtualbox.org/" target="_blank">VirtualBox</a>
                                        </li>
                                        <li>
                                            <a href="https://www.ubuntu.com/server" target="_blank">Ubuntu Server</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Reduced forecast model processing time from 48+ hours to 30 minutes through database optimization, code optimization, parallelism and distributed computing</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="project">
                            <div class="overview">
                                <span class="title">Customer Record Matching and De-duplication</span> <span class="description">Data Processing Service Application</span> <span class="project-position">Lead Developer</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/.NET_Framework_version_history#Service_Pack_1" target="_blank">.NET 3.5</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Automated the identification of thousands of duplicate customer records using word <a href="https://en.wikipedia.org/wiki/Adjacency_list" target="_blank">adjacency graph</a> algorithm and <a href="https://en.wikipedia.org/wiki/Approximate_string_matching" target="_blank">fuzzy matching algorithms</a> (e.g. <a href="https://en.wikipedia.org/wiki/Jaro%E2%80%93Winkler_distance"
                                        target="_blank"><i>Jaro–Winkler</i></a>)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="project">
                            <div class="overview">
                                <span class="title">BizPoint</span> <span class="description">Market Research and Sales Lead Generation Web Application</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                        <li>
                                            <a href="https://www.asp.net/downloads/vs2008" target="_blank">ASP.NET</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Developed process to identify and score potential customer leads based on their <a href="https://www.epa.gov/hw/learn-basics-hazardous-waste" target="_blank">EPA waste generation profile</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="references position-section">
                        <span class="title">Testimonials</span>
                        <div class="reference">
                            <div class="quote">
                                "Matt has worked with our organization on several projects and has always provided clear and precise communication. His depth of knowledge on various subjects and his ability to research new solutions has been a great
                                asset. Matt has a diverse skill set which can always be relied upon to provide multiple solutions to the range of technical and analytical problems we’ve faced. He has been a highly valued asset and we would gladly
                                work with him again."
                            </div>
                            <div class="quoted">
                                — <a href="https://www.reuters.com/finance/stocks/officer-profile/CLH/190188" target="_blank">George Curtis</a> | Executive Vice President, Product Pricing and Proposals, Clean Harbors, Inc.
                            </div>
                        </div>
                        <div class="reference">
                            <div class="quote">
                                "Matt is always timely and accurate with his projects and always puts in extra effort to ensure customer needs are met. His depth of knowledge on various subjects and his ability to research new software or techniques
                                has been very beneficial to our small team. Matt has a very diverse tool set and can always be relied on to provide multiple solutions to problems that we face. I wish I had a team of people like Matt working in my
                                group."
                            </div>
                            <div class="quoted">
                                — <a href="https://www.linkedin.com/in/jeremy-rabbe-9b710a11/" target="_blank">Jeremy Rabbe</a> | Manager, Analytics and Insights, Clean Harbors, Inc.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="organization">
                <div class="name">
                    <span><a href="https://www.cisco.com/" target="_blank">Cisco Systems, Inc.</a>, Richardson, Texas</span>
                </div>
                <div class="position">
                    <div class="details">
                        <span class="title">Software Developer | Data Center Management</span> <span class="timeframe">2012 - 2013</span>
                    </div>
                    <div class="projects position-section">
                        <span class="title">Projects</span>
                        <div class="project">
                            <div class="overview">
                                <span class="title">Hardware Cabinet Buildout Tool</span> <span class="description">Drag and Drop Hardware Cabinet Configurator Web Application</span>
                                <span class="project-position">Lead Developer</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Implemented automatic hardware compatibility and power requirement checking system</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="project">
                            <div class="overview">
                                <span class="title">Hardware Polling Service</span> <span class="description">Data Collection and Aggregation Service Application</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Implemented multi-threaded polling service for collecting the status and metrics of networked data center hardware (servers, routers, etc.) and equipment (power supplies, thermal sensors, etc.)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="organization">
                <div class="name">
                    <span><a href="http://clickmotive.com/" target="_blank">Clickmotive, Inc.</a>, Plano, Texas</span>
                </div>
                <div class="position">
                    <div class="details">
                        <span class="title">Jr. Software Engineer | Projects Team</span> <span class="timeframe">2011 - 2012</span>
                    </div>
                    <div class="projects position-section">
                        <span class="title">Projects</span>
                        <div class="project">
                            <div class="overview">
                                <span class="title">Inventory Processing System</span> <span class="description">Automobile Dealership Inventory Data Aggregation Service</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                        <li>
                                            <a href="https://redis.io/" target="_blank">Redis</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Worked with team on multi-month project to develop new inventory processing system; reduced processing time from 4 hours to 15 minutes</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="project">
                            <div class="overview">
                                <span class="title">Fusion</span> <span class="description">Turn-key Solution for Deploying Automobile Dealership Websites</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/XSLT" target="_blank">XSLT</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">HTML</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank">CSS</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Developed many customer-facing web UI components for Clickmotive’s core product</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="organization">
                <div class="name">
                    <span><a href="https://www.ericsson.com/en" target="_blank">Ericsson, Inc.</a>, Plano, Texas</span>
                </div>
                <div class="position">
                    <div class="details">
                        <span class="title">Software Engineer Intern | North America Wireless Radio Access Network division</span> <span class="timeframe">2010 - 2011</span>
                    </div>
                    <div class="projects position-section">
                        <span class="title">Projects</span>
                        <div class="project">
                            <div class="overview">
                                <span class="title">Automated Neighbor Selection Tool</span> <span class="description">Windows Forms Application</span>
                                <span class="project-position">Lead Developer</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                        <li>
                                            <a href="https://msdn.microsoft.com/en-us/library/ms533797(v=vs.85).aspx" target="_blank">GDI+</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>
                                            <span>Implemented patent <a href="https://patents.google.com/patent/US7050803B2/" target="_blank">US7050803B2</a>; Application visualized <a href="https://en.wikipedia.org/wiki/Cellular_network">cell network</a> <span>&nbsp;</span> <a href="https://en.wikipedia.org/wiki/Sector_antenna">sectors</a> and automatically calculated sector neighbors in a given geographic region</span>
                                        </li>
                                        <li>Awarded Ericsson “Intern of the Month” for excellence during this project</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="project">
                            <div class="overview">
                                <span class="title">Resource Management Tool</span> <span class="description">Web Application</span>
                                <span class="project-position">Lead Developer</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                        <li>
                                            <a href="https://www.asp.net/downloads/vs2008" target="_blank">ASP.NET</a>
                                        </li>
                                        <li>
                                            <a href="http://lucene.apache.org/solr/" target="_blank">SOLR Search</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Developed web-based staffing and resource management tool enabling managers to identify department resources, SMEs, and underutilized personnel</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="project">
                            <div class="overview">
                                <span class="title">Network Presentation Tool</span> <span class="description">Web Dashboard Application</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                        <li>
                                            <a href="https://www.asp.net/downloads/vs2008" target="_blank">ASP.NET</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Developed interactive web map visualizing cellular network sites with diagnostic data</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="organization">
                <div class="name">
                    <span><a href="https://www.dmagazine.com/" target="_blank">D Magazine Partners, Inc.</a>, Dallas, Texas</span>
                </div>
                <div class="position">
                    <div class="details">
                        <span class="title">Jr. Online Developer | Website and Digital Marketing Team</span> <span class="timeframe">2009 – 2010</span>
                    </div>

                    <div class="projects position-section">
                        <span class="title">Projects</span>
                        <div class="project">
                            <div class="overview">
                                <span class="title">Online Surveys System</span> <span class="description">Web Application</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                        <li>
                                            <a href="https://www.asp.net/downloads/vs2008" target="_blank">ASP.NET</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Developed and launched customer facing online survey system to support <a href="https://www.dmagazine.com/publications/d-magazine/2018/august/dallas-best-of-big-d-2018/?ref=nav" target="_blank">"D&nbsp;Best" and "Top&nbsp;Ten"</a> publications</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="organization">
                <div class="name">
                    <span><a href="https://www.dmagazine.com/" target="_blank">Telligent Systems, Inc.</a>, Plano, Texas</span>
                </div>
                <div class="position">
                    <div class="details">
                        <span class="title">Software Engineer Intern | Projects Team</span> <span class="timeframe">2008</span>
                    </div>
                    <div class="projects position-section">
                            <span class="title">Projects</span>
                            <div class="project">
                                <div class="overview">
                                    <span class="title">Print-to-Media</span> <span class="description">Virtual Printer Driver</span>
                                </div>
                                <div class="details">
                                    <div class="technologies">
                                        <ul class="">
                                            <li>
                                                <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a>
                                            </li>
                                            <li>
                                                <a href="https://www.asp.net/downloads/vs2008" target="_blank">ASP.NET</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="highlights">
                                        <ul>
                                            <li>Developed <a href="https://en.wikipedia.org/wiki/Virtual_printer" target="_blank">virtual printer</a> driver for printing content to <a href="https://www.telligent.com/platform/" target="_blank">Telligent Community CMS platform</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="credential">
            <div class="title">
                Additional Experience
            </div>
            <div class="organization first">
                <div class="position">
                    <div class="projects position-section">
                        <span class="title">Personal Projects</span>
                        <div class="project">
                            <div class="overview">
                                <span class="title">Crypto Currency Trading Bot <small>(March 2018)</small></span> <span class="description">System for Automated Trading on Crypto Currency Exchange</span>
                            </div>
                            <div class="details">
                                <div class="technologies">
                                    <ul class="">
                                        <li>
                                            <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Transact-SQL" target="_blank">T-SQL</a>
                                        </li>
                                        <li>
                                            <a href="https://www.python.org/" target="_blank">Python</a>
                                        </li>
                                        <li>
                                            <a href="https://julialang.org/" target="_blank">Julia</a>
                                        </li>
                                        <li>
                                            <a href="https://www.mongodb.com/" target="_blank">MongoDB</a>
                                        </li>
                                        <li>
                                            <a href="https://www.docker.com/" target="_blank">Docker</a>
                                        </li>
                                        <li>
                                            <a href="https://redis.io/" target="_blank">Redis</a>
                                        </li>
                                        <li>
                                            <a href="https://en.wikipedia.org/wiki/Microsoft_SQL_Server" target="_blank">SQL Server 2017</a>
                                        </li>
                                        <li>
                                            <a href="https://nodejs.org/en/" target="_blank">Node.js</a>
                                        </li>
                                        <li>
                                            <a href="https://expressjs.com/" target="_blank">Express</a>
                                        </li>
                                        <li>
                                            <a href="https://angular.io/" target="_blank">Angular</a>
                                        </li>
                                        <li>
                                            <a href="https://rxjs-dev.firebaseapp.com/" target="_blank">RxJS</a>
                                        </li>
                                        <li>
                                            <a href="https://www.tensorflow.org/" target="_blank">TensorFlow</a>
                                        </li>
                                        <li>
                                            <a href="https://plot.ly/" target="_blank">Plotly</a>
                                        </li>
                                        <li>
                                            <a href="http://mathjs.org/" target="_blank">mathjs</a>
                                        </li>
                                        <li>
                                            <a href="http://www.numpy.org/" target="_blank">NumPy</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>A personal exploration of crypto currencies, automated real-time market trading, machine learning, data analysis and the various technology options available for these purposes</li>
                                        <li>Project included the creation of many evolving prototypes, including
                                            <ul>
                                                <li>Services for collecting market data in real-time and computing <a href="https://en.wikipedia.org/wiki/Technical_analysis" target="_blank">market signals</a>, <a href=
                                                "https://en.wikipedia.org/wiki/Bollinger_Bands">indicators</a> and <a href="https://en.wikipedia.org/wiki/Predictive_modelling" target="_blank">predictive features</a> using <a href=
                                                "https://en.wikipedia.org/wiki/Online_algorithm" target="_blank">online algorithms</a>
                                                </li>
                                                <li>Web applications for telemetry visualization and manual bot control</li>
                                                <li>Machine learning systems for predicting profitable trade prices</li>
                                                <li>Autonomous trading bots operating in a live market</li>
                                                <li>
                                                    <a href="https://en.wikipedia.org/wiki/Data_warehouse">Data warehousing</a> and <a href="https://en.wikipedia.org/wiki/Extract,_transform,_load">ETL processes</a>
                                                </li>
                                                <li>WebSocket client and server apps for receiving and broadcasting live <a href="https://en.wikipedia.org/wiki/Market_data">market data</a>
                                                </li>
                                                <li>Implementation and testing of various programmatic trading strategies</li>
                                                <li>Implementation and testing of various methods of <a href="https://en.wikipedia.org/wiki/Inter-process_communication" target="_blank">IPC</a> (e.g.: <a href=
                                                "https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/API/WebSocket" target="_blank">WebSocket</a>, <a href=
                                                "https://redis.io/commands/blpop">Redis Blocking Queue</a>)
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="credential">
            <div class="title">
                References
            </div>
            <div class="organization first">
                <div class="position">

                    <div class="references position-section">
                        <span class="title">Clean Harbors, Inc.</span>
                        <div class="reference simple">
                            <a href="https://www.linkedin.com/in/tomvarney/" target="_blank">Tom Varney</a> | Director, Analytics and Insights
                            <div class="contacts">
                                <span class="contact"><span class="type">e:</span> <span class="value"><a href="mailto:varney.thomas@cleanharbors.com">varney.thomas@cleanharbors.com</a></span></span>
                                <span class="contact"><span class="type">m:</span> <span class="value">(781) 264 - 7322</span></span>
                            </div>
                        </div>
                        
                        <div class="reference simple">
                            <a href="https://www.linkedin.com/in/timothylforrest/" target="_blank">Tim Forrest</a> | Director (Former), Analytics and Insights
                            <div class="contacts">
                                <span class="contact"><span class="type">e:</span> <span class="value"><a href="mailto:timothy.l.forrest@gmail.com">timothy.l.forrest@gmail.com</a></span></span>
                                <span class="contact"><span class="type">m:</span> <span class="value">(979) 492 - 5555</span></span>
                            </div>
                        </div>

                        <div class="reference simple">
                            <a href="https://www.linkedin.com/in/jeremy-rabbe-9b710a11/" target="_blank">Jeremy Rabbe</a> | Manager (Former), Analytics and Insights
                            <div class="contacts">
                                <span class="contact"><span class="type">e:</span> <span class="value"><a href="mailto:jrabbe@att.net">jrabbe@att.net</a></span></span>
                                <span class="contact"><span class="type">m:</span> <span class="value">(254) 981 - 6961</span></span>
                            </div>
                        </div>

                        <div class="reference simple">
                            <a href="https://www.linkedin.com/in/ramesh-kadiyala-887048b/" target="_blank">Ramesh Kadiyala</a> | Senior Software Engineer, Analytics and Insights
                            <div class="contacts">
                                <span class="contact"><span class="type">m:</span> <span class="value">(302) 983 - 4426 </span></span>
                            </div>
                        </div>
                    </div>

                    
                    <div class="references position-section">
                        <span class="title">Cisco Systems, Inc.</span>
                        <div class="reference simple">
                            <a href="https://www.linkedin.com/in/krismcginnes/" target="_blank">Kris McGinnes</a> | Lead Software Developer, Data Center Operations
                            <div class="contacts">
                                <span class="contact"><span class="type">e:</span> <span class="value"><a href="mailto:kmcginnes@me.com">kmcginnes@me.com</a></span></span>
                                <span class="contact"><span class="type">m:</span> <span class="value">(972) 835 - 0981</span></span>
                            </div>
                        </div>
                        <div class="reference simple">
                            <a href="https://www.linkedin.com/in/gustavo-ansorena-574069b/" target="_blank">Gustavo Ansorena</a> | Software Developer, Data Center Operations
                            <div class="contacts">
                                <span class="contact"><span class="type">e:</span> <span class="value"><a href="mailto:ansorena@gmail.com">ansorena@gmail.com</a></span></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="references position-section">
                        <span class="title">ClickMotive, Inc.</span>
                        <div class="reference simple">
                            <a href="https://www.linkedin.com/in/mark-gilcrease-871375a/" target="_blank">Mark Gilcrease</a> | Senior Software Engineer, Projects Team
                            <div class="contacts">
                                <span class="contact"><span class="type">e:</span> <span class="value"><a href="mailto:mgilcrease@gmail.com">mgilcrease@gmail.com</a></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="references position-section">
                        <span class="title">D Magazine Partners, Inc.</span>
                        <div class="reference simple">
                            <a href="https://www.linkedin.com/in/randy-mccluer-b1945b4/" target="_blank">Randy Mccluer</a> | Lead Online Developer
                            <div class="contacts">
                                <span class="contact"><span class="type">e:</span> <span class="value"><a href="mailto:randylsu@gmail.com">randylsu@gmail.com</a></span></span>
                                <span class="contact"><span class="type">m:</span> <span class="value">(214) 394 - 7047</span></span>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="references position-section">
                        <span class="title">Telligent Systems, Inc.</span>
                        <div class="reference simple">
                            <a href="https://www.linkedin.com/in/jasonlalexander/" target="_blank">Jason Alexander</a> | Chief Technology Officer
                        </div>
                    </div>
                    
                    <div class="references position-section">
                        <span class="title">Ericsson, Inc.</span>
                        <div class="reference simple">
                            <a href="https://www.linkedin.com/in/juliovelo/" target="_blank">Julio Velo</a> | Senior Project Manager, North America Wireless Radio Access Network division
                        </div>
                    </div> -->

                </div>
                
            </div>
        </div>

    </div>
</div>
