<ng-template #loading>
  <div class="loading">
    Loading...
  </div>
</ng-template>
<div *ngIf="(resume$ | async) as resume else loading">

  <div class="content-header">
    <div class="name">
      {{resume.candidate.name}}
    </div>
    <div class="contact">
      <div class="contact-entry"
           *ngIf="resume.candidate.location">
        <a [href]="resume.candidate.locationUrl"
           target="_blank">{{resume.candidate.location}}</a>
      </div>
      <div class="contact-entry"
           *ngIf="resume.candidate.phoneNumber">{{resume.candidate.phoneNumber}}</div>
      <div class="contact-entry"
           *ngIf="resume.candidate.emailAddress">
        <a [href]="'mailto:' + resume.candidate.emailAddress">{{resume.candidate.emailAddress}}</a>
      </div>
    </div>
  </div>
  <div class="content-body">
    <div class="lead">
      <div class="statement"
           *ngFor="let statement of resume.leadStatements">
        {{statement}}
      </div>
    </div>
    <div class="credentials">
      <div class="credential"
           *ngIf="resume.companies">
        <div class="title">
          Professional Experience
        </div>

        <app-company *ngFor="let company of resume.companies"
                     [company]="company"></app-company>
      </div>

      <div class="credential education"
           *ngIf="resume.institutions">
        <div class="title">
          Education
        </div>
        <app-institution *ngFor="let institution of resume.institutions"
                         [institution]="institution"></app-institution>
      </div>

      <div class="credential additional-experience"
           *ngIf="resume.additionalExperience">
        <div class="title">
          Additional Experience
        </div>
        <div class="organization first">
          <div class="position">
            <div class="projects position-section"
                 *ngIf="resume.additionalExperience.personalProjects">
              <span class="title">Personal Projects</span>
              <app-project *ngFor="let project of resume.additionalExperience.personalProjects"
                           [project]="project"></app-project>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
