@media print {
  @page {
    margin: 1in;
  }

  a {
    text-decoration: none;
  }
}

@media screen {
  body {
    padding: 1in;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-style: solid;
    }
  }
}

body {
  width: 8.5in;
  margin: auto;

  a {
    color: unset;
  }

  .loading {
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    font-variant: small-caps;
    letter-spacing: .1em;
  }

  .content-header {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: solid 1px black;

    .name {
      font-size: 4rem;
      display: block;
      text-align: center;
      text-transform: uppercase;
    }

    .contact {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;

      .contact-entry {
        font-size: 1rem;
      }
    }
  }

  .content-body {
    .lead {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      margin-bottom: 2rem;
      font-size: 1.1rem;
      page-break-after: avoid;

      .statement {
        text-align: center;
        padding: 0rem;
      }

    }

    .credentials {
      margin-top: 1em;

      .credential {
        margin-bottom: 3rem;

        >.title {
          font-size: 1.8em;
          text-align: center;
          text-transform: capitalize;
          font-variant: small-caps;
          letter-spacing: .1em;
          page-break-after: avoid;
        }

        &.additional-experience {
          page-break-inside: avoid;

        }

        &.education {
          page-break-inside: avoid;
        }

        .organization {
          &.first {
            page-break-before: avoid;
          }

          &:not(.first) {
            page-break-inside: avoid;
          }

          .certificates {
            >.title {
              font-size: 1.1rem;
              font-variant: small-caps;
            }

            padding-left: 1em;
            padding-top: .5em;

            .certificate {

              margin-left: .5em;
              margin-top: .5em;
              padding-bottom: 0.2em;

              >.details {
                >.title {
                  font-style: italic;
                }
              }
            }
          }


          margin-top: 1.6em;

          >.name {
            font-size: 1.4rem;
            padding-bottom: 0.2em;
            font-variant: small-caps;
            text-transform: capitalize;
            text-align: center;

          }

          >.position {
            >.details {

              padding-bottom: 0.2em;
              text-align: center;
              font-style: italic;

              >.title {
                &::after {
                  content: ', '
                }
              }

              >.title,
              >.timeframe {
                font-size: 1.1rem;
              }
            }

            >.position-section {
              padding-left: 1em;
              padding-top: .5em;

              >.title {
                font-size: 1.1rem;
                font-variant: small-caps;

              }

              &.responsibilities {
                ul {
                  margin: 0;
                  padding: 0;
                  margin-left: .5em;
                  margin-top: .5em;
                  list-style: none;

                  li {
                    padding-bottom: .25em;
                  }
                }
              }

              &.projects {}


            }




          }

        }
      }
    }
  }

}
