.organization {

  &.first {
    page-break-before: avoid;
  }

  &:not(.first) {
    page-break-inside: avoid;
  }

  .certificates {
    >.title {
      font-size: 1.1rem;
      font-variant: small-caps;
    }

    padding-left: 1em;
    padding-top: .5em;

    .certificate {
      margin-left: .5em;
      margin-top: .5em;
      padding-bottom: 0.2em;

      >.details {
        >.title {
          font-style: italic;
        }
      }
    }
  }

  margin-top: 1.6em;

  >.name {
    font-size: 1.4rem;
    padding-bottom: 0.2em;
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: center;

  }
}
